.button_like {
  cursor: pointer;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.banner {
  top: 30%;
  text-align: center;
  width: 100%;
  position: fixed;
}

.input_field {
  top: 50%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  position: fixed;
}

.below_form {
  top: 70%;
  text-align: center;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  position: fixed;
}

.below_header {
  margin-top: 6%;
}

.tabbar_buttom {
  height: 8%;
  position: fixed;
}

.panel_box {
  display: inline-flex;
  align-items: center;
}

.x-header {
  top: 0%;
  height: 6%;
  width: 100%;
  position: fixed;
}

.panel_box .panel_hd {
  margin-left: 5px;
  margin-right: 10px;
}

.panel_box .panel_bd {
  display: inline-flex;
  flex-basis: 100%
}

.icon_before_cell {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

.icon_before_panel {
  margin-left: 5px;
}

.cell_box {
  margin-left: 5px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}
.cell_box_md{
  margin-left: 5px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.cell_box .cell_hd {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center
}

.cell_box_md .cell_hd {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center
}

.cell_bd {
  margin-left: 10px;
  flex-basis: 95%;
}

.cell_footer {
  float: right;
  margin-left: 5px;
}

.cell_title {
  display: block;
}
.cell_title_desc {
  display: block;
  color: #888
}

.avatar {
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
