.button_like {
  cursor: pointer;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

p {
  font-family: Helvetica, "Hiragino Sans GB W3";
}

h4 {
  font-family: Helvetica, "Hiragino Sans GB W3";
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

.unset {
  color: #aeadb1;
}

.x-header-back {
  cursor: pointer;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.banner {
  margin-top: 20%;
  text-align: center;
  width: 100%;
  /*position: fixed;*/
}

.input_field {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /*position: fixed;*/
}

.link_below_form{
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.below_header {
  margin-top: 6%;
}

.above_tabbar {
  margin-bottom: 8%;
}

.tabbar_buttom {
  height: 60px;
  position: fixed;
}

.send_button_box {
  flex-basis: 10%;
  vertical-align: middle;
  margin: 10px;
}

.send_button {
  margin-top: 40%;
  margin-bottom: 40%;
  text-align: center;
  vertical-align: middle;
}

.panel_box {
  display: inline-flex;
  align-items: center;
}

.x-header {
  top: 0%;
  height: 50px;
  width: 100%;
  /*position: fixed;*/
}

.panel_box .panel_hd {
  margin-left: 5px;
  margin-right: 10px;
}

.panel_box .panel_bd {
  display: inline-flex;
  flex-basis: 100%
}

.icon_before_cell {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

.icon_before_panel {
  margin-left: 5px;
}

.cell_box {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.cell_box_md{
  margin-left: 5px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.cell_box .cell_hd {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center
}

.cell_box_md .cell_hd {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center
}

.cell_bd {
  margin-left: 10px;
  flex-basis: 95%;
}

.cell_footer {
  float: right;
  margin-right: 5px;
}

.cell_title {
  display: block;
}
.cell_title_desc {
  display: block;
  color: #888
}

.cell_content {
  margin-left: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 100%;
}
